/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .input-group button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .save-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .word-list {
    margin-top: 20px;
  }
  
  .word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .word-item button {
    padding: 5px;
    background-color: #ff7f7f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .word-item .word-text {
    font-weight: bold;
  }
  
  .add-button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }


.apply-predefined {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0099;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .apply-predefined:hover {
    background-color: #0056b3;
  }
  
  .main-header {
    font-size: 27px;
    margin-bottom: 25px;
    text-align: center;
    color: #fff;
    background-color: #009688;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  